#root {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.indUser {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: baseline;
}

.calendar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  float: right;
}

.date {
  display: flex;
  justify-content: center;
}

.day {
  border: black 1px solid;
  width: 20%;
}

.time {
  height: 50px;
  border-bottom: 1px solid;
}

.border-bottom-date {
  border-bottom: black 1px solid !important;
}

.gridCalendar {
  display: flex;
}

.gridTime {
  width: 7%;
  position: relative;
  margin-top: 90px;
}

.timeDisplay {
  margin: 27px 0px;
}

.dollarSign {
  display: flex;
  align-items: center;
}

.registerLogin{
  display: flex;
}